[Unit]
# Human readable name of the unit
Description=MiniMAD killer service
#Conflicts=minimad.service

[Service]
# Command to execute when the service is started
ExecStart=systemctl stop minimad
Type=simple
