[Unit]
Description=Kill minimad service according to time
#Requires=minimad-kill.service
[Timer]
Unit=minimad-kill.service
OnCalendar=*-*-* *:*:30
Persitent=true
AccuracySec=1
[Install]
WantedBy=timers.target
