[Unit]
Description=Run minimad service according to time
#Requires=minimad.service
[Timer]
Unit=minimad.service
OnCalendar=*-*-* *:*:00
Persitent=true
AccuracySec=1

[Install]
WantedBy=timers.target
