[Unit]
Description=Run minimad service according to time
#Requires=minimad.service
[Timer]
Unit=minimad.service
OnCalendar= 10:00:00
Persitent=true

[Install]
WantedBy=timers.target
